@font-face {
    font-family: "Adobe Garamond Pro";
    src: url("fonts/adobe-garamond-pro/adobe-garamond-pro-593aa541df8ed.otf");
    src: url("fonts/adobe-garamond-pro/Adobe-Garamond-Pro_2012.ttf") format("truetype");
}
*{
    animation-duration: 7s;
}
*::-webkit-input-placeholder {
    color: #666;
    opacity: 1;
}

*:-moz-placeholder {
    color: #666;
    opacity: 1;
}

*::-moz-placeholder {
    color: #666;
    opacity: 1;
}

*:-ms-input-placeholder {
    color: #666;
    opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {}

body input:required:valid,
body textarea:required:valid {}
body {
    font-size: 15px;
    min-width: 320px;
    position: relative;
    line-height: 1.6;
    overflow-x: hidden;
    font-family: "Adobe Garamond Pro" !important;
}
.h1_name {
    font-size: 6rem;
    color: #000;
}

p {
    font-size: 1.3em;
}
.hidden {
    display: none;
}

ul li {
    list-style-type: none;
}

/***** Message modal *****/
.modal-open {
    padding-right: 0 !important;
}
.modal-header .close {
    color: #34495E;
}
.modal-backdrop {
    opacity: 0 !important;
    display: none !important;

}
#message_modal {
    width: 50%;
    margin: 15px auto;
}
/***** End Message modal *****/

/* Nav bar settings */
.navbar {
    border-radius: 0 !important;
    font-size: 1.5em;
}
.navbar-header {
    padding: 10px;
    padding-left: 49px;
}
.nav {
    padding-top: 10px;
    margin: 0 39px;
    display: inline-block;
}
.nav li a, .navbar-brand {
    color: #fff !important;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}

.nav li a:hover {
    opacity: 0.7;
}

.navbar-brand {
    padding: 0 !important;
}
.mobile, .mail {
    font-size: 1.1em;
}
.mobile {
    margin-bottom: 5px;
}
.navbar-contact .fa-mobile {
    font-size: 1.3em;
    padding:0 4px 0 4px;
}

.phone a {
    color: white;
    text-decoration: none;
}

.social {
    float: right;
    font-size: 1.0em;
    padding-top: 13px;
}

.social li {
    display: inline-block;
    color: #fff;
}

.social li a {
    color: #fff;
    display: inline-block;
    padding: 10px 10px 0 10px;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}
#responsive-menu {
    text-align: center;
}

.main-text .who-am-i {
    margin-bottom: 25px;
    font-size: 1.7em;
}

.main-text .name {
    color: #000;
}

.photo {
    height: 400px;
}

.photo img {
    width: 100%;
    height: 200px;
}

.img_wrap {
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 2px 1px #ddd;
    height: 18em;
    width: 18em;
    background: url(img/profilePicture.png) no-repeat 0px 0px;
    background-size: 100%;
}

.latest-work {
    border-top: 1px solid #dddddd;
    margin-top: 90px;
    position: relative;
}

.latest-work h3 {
    background: #fff;
    font-size: 1.3em;
    position: absolute;
    top: -30px;
    left: 50%;
    margin-left: -20%;
    width: 40%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.thumbs {
    margin-top: 50px;
}

.social li a:hover {
    opacity: 0.7;
}
/* Navbar end */

#contact, #portfolio, #about {
    text-align: center;
    color: #586268;
    padding: 30px 0;
    font-size: 1.2em;
}
#contact h1, #portfolio h1, #about h1 {
    font-size: 3.0em;
    padding-bottom: 20px;
}

/* Section 1 top */

#top {
    padding: 5%;
    font-size: 1.2em;
    border-bottom: #dddddd solid 1px;
    color: #666666;
}

.download_resume {
    color: #4d4d4d;
}
.download_resume:hover {
    text-decoration: none;
    color: #7b7b7b;
}

/*latest work in portfolio*/

.block {
    width: 290px;
    height: 240px;
    margin: 20px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3), 0 2px 10px 0 rgba(0, 0, 0, 0.4);
}

.portfolio-block {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.portfolio-block:hover .overlay {
    top: 0;
    opacity: 1;
}

.portfolio-block img {
    width: 100%;
    height: 100%;
}

.des {
    display: none;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    display: inline-block;
    background: rgba(0, 0, 0, .8);
    opacity: 0;
    top: 150px;
    left: 0px;
    -webkit-transition: all .5s;
    transition: all .5s;
    cursor: pointer;
}

.overlay p {
    color: #fff;
    margin-top: 50px;
    font-size: 1.5em;
}

.more-button {
    color: #fff;
    font-weight: bold;
    font-size: .7em;
    margin-top: 30px;
    text-transform: uppercase;
    padding: 15px 20px;
    border: 5px solid #fff;
    display: inline-block;
    outline: none;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.more-button:hover {
    color: #1691be;
    border: 5px solid #1691be;
}


/* Section 1 end */


/* Section Contact me */

#contact {
    background: url(img/txture.png) #32333A;
    color: #dddddd;
}

.contact-content {
    width: 55%;
    margin: 0 auto;
}

.contact-content p {
    margin: 20px 0 60px 0;
}

input[type="text"],
input[type="email"],
.message,
select {
    padding: 20px;
    width: 90%;
    border: 1px solid #a7adb1;
    margin: 15px 0;
    font-size: 1.3em;
    color: #32333A;
}

.message {
    max-width: 90%;
}

.submit {
    border: none;
    background-color: #a7adb1;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    -webkit-transition: all .5s;
    transition: all .5s;
    margin: 15px 0 150px;
    display: inline-block;
    font-size: 1.3em;
}

.submit:hover {
    background-color: #1691be;
}


/* Section Contact me END */


/* Section About */

#about {
    border-bottom: #dddddd solid 1px;
    background: url(img/txture.png) #32333A;
    color: #dddddd;
}

/*******************************/
.timeline-centered{
    position:relative;
    margin-bottom:30px
}
.timeline-centered:before,.timeline-centered:after{
    content:" ";
    display:table
}
.timeline-centered:after{
    clear:both
}
.timeline-centered:before,.timeline-centered:after{
    content:" ";
    display:table
}
.timeline-centered:after{
    clear:both
}
.timeline-centered:before{
    content:'';
    position:absolute;
    display:block;
    width:4px;
    background:#f2f3f7;
    top:20px;
    bottom:20px;
    margin-left:29px
}
.timeline-centered .timeline-entry{
    position:relative;
    margin-top:5px;
    margin-left:30px;
    margin-bottom:10px;
    clear:both
}
.timeline-centered .timeline-entry .timeline-entry-inner{
    position:relative;
    margin-left:-15px;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon{
    display:block;
    width:30px;
    height:30px;
    background:#2c98f0;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    border-radius:50%;
    text-align:center;
    -moz-box-shadow:0 0 0 5px #f2f3f7;
    -webkit-box-shadow:0 0 0 5px #f2f3f7;
    box-shadow:0 0 0 5px #f2f3f7;
    line-height:40px;
    float:left
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon i{
    color:#fff
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-2{
    background:#ec5453
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-3{
    background:#f9bf3f
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-4{
    background:#a84cb8
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-5{
    background:#2fa499
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-none{
    background:#fff;
    width:20px;
    height:20px;
    margin-left:5px
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label{
    position:relative;
    background:#f2f3f7;
    padding:1.5em;
    margin-left:60px;
    -webkit-background-clip:padding-box;
    -moz-background-clip:padding;
    background-clip:padding-box;
    text-align: left;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after{
    content:'';
    display:block;
    position:absolute;
    width:0;
    height:0;
    border-style:solid;
    border-width:9px 9px 9px 0;
    border-color:transparent #f2f3f7 transparent transparent;
    left:0;
    top:10px;
    margin-left:-9px
}

.timeline-label {
    color: #666666;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p+p{
    margin-top:15px
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2{
    font-size:20px;
    font-family:quicksand,Arial,sans-serif;
    font-weight:500
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a{
    color:#000
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
    -webkit-opacity:.4;
    -moz-opacity:.4;
    opacity:.4;
    -ms-filter:alpha(opacity=40);
    filter:alpha(opacity=40);
    font-size:16px
}

.youtube-link
{
    color: red;
}
/*******************************/

.development-process {
    margin-top: 70px;
    margin-left: 5%;
}

.process-text {
    text-align: left;
}

.development-img {
    padding: 0 !important;
    margin-top: 25px;
}

.development-img img {
    width: 100%;
}

.languages_wrap {
    margin-top: 70px;
    margin-left: 5%;
}
.language_skills, .text_left {
    text-align: left;
}
.language_skills {
    font-size: 1.3em;
}
.language_skills li {
    list-style-type: disc;
}
.resume_wrap {
    margin: 20px;
}
.resume_wrap a {
    color: #666666;
    font-size: 0.9em;
    transition: all .5s;
}
.resume_wrap a:hover, .resume_wrap a:active {
    color: #999999;
    text-decoration: none;
}

.education_text
{
    font-size: 0.8em;
}

.experience-text
{
    font-size: 0.9em;
}



/* About end */


/* Section Portfolio */
#portfolio {
    border-bottom: #dddddd solid 1px;
}


/* portfolio modal */

#myImg {
    cursor: pointer;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
    -webkit-overflow-scrolling: touch;
}


/* Modal Content (image) */

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}


/* Caption of Modal Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}


/* Add Animation */

.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}


/* The Close Button */

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
/* Portfolio end */

/* Footer begin */

#footer {
    height: 90px;
    padding: 40px 5% 6% 5%;
    color: #666666;
    position: relative;
    text-align: center;
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    background: #f5f5f5;
    font-size: 1.5em;
}

.navbar-bottom li {
    display: inline-block;
    margin-left: 5%;
}

.navbar-bottom li:first-child {
    margin-left: 0;
}

.navbar-bottom li a {
    color: #666666;
    -webkit-transition: color .3s;
    transition: color .3s;
}

.navbar-bottom li a:hover {
    color: #000;
    text-decoration: none;
}

.navbar-bottom li a:focus {
    text-decoration: none;
}

.footer-social li {
    display: inline-block;
}

.gradient-white {
    position: absolute;
    width: 100%;
    height: 50px;
    top: -50px;
    left: 0;
}

.gradient-white .top {
    width: 118px;
    height: 90px;
    display: block;
    background: url(img/sprite.png) 0 -217px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    bottom: -40px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.gradient-white .top:hover {
    bottom: -35px;
}
/* Footer end */

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .development-process {
        margin-top: 30px;
        width: 90%;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

    /*Disable Animation on Mobile Devices*/
    .animated {
        /*CSS transitions*/
        -o-transition-property: none !important;
        -moz-transition-property: none !important;
        -ms-transition-property: none !important;
        -webkit-transition-property: none !important;
        transition-property: none !important;
        /*CSS transforms*/
        -o-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
        /*CSS animations*/
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
    }

    .h1_name {
        font-size: 3.5em;
    }

    #contact h1{
        font-size: 3em;
    }

    input[type="email"],
    input[type="text"],
    input[type="submit"],
    .message
    {
        font-size: 1.5em;
    }
    .modal-content {
        width: 100%;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .navbar-header {
        padding-left: 15px !important;
    }
    .img_wrap {
        width: 13em;
        height: 13em;
    }
    .thumbs-wrap {
        margin-top: 20px;
    }

    #form {
        width: 109%;
    }

    input[type="text"],
    input[type="email"],
    .message,
    select {
        padding: 15px;
        font-size: 1.0em;
        width: 100%;
    }

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .img_wrap {
        margin: 0 !important;
    }
}
